---
import Layout from "../layout/Layout.astro";
import Navbar from "../component/Navbar.astro";
import Sidebar from "../component/Sidebar.astro";
---

<Layout title="DevDocs :: Sass">
  <Navbar />
  <Sidebar />
  <div class="px-10 py-24 sm:ml-64">
    
  </div>
</Layout>
